.board {
	width: 50%;
	height: 50%;
	margin: 0 auto;
}

.winner-container {
	padding: 8px 0;
}

.ttt-row {
	display: flex;

	.ttt-cell:last-of-type {
		border-right: 0px;
	}

	&:last-of-type {
		.ttt-cell {
			border-bottom: 0px;
		}
	}
}
