@import '../partials/variables';

#main {
	padding: 8px;
}

.sean {
	width: $default-marker-size;
	height: $default-marker-size;
}

.square {
	border: 1px solid black;
	width: $default-marker-size;

	&:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}
}

button {
	border-radius: 3px;
	background: white;
	outline: none;

	&:active {
		border: 1px solid grey;
	}
}

input[type="checkbox"] {
	margin-right: 4px;
}

input[type="number"] {
	width: 24px;
}