@import './partials/colors';
@import './partials/variables';

* {
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;

	/* Reset */
	margin: 0;
	&::before, &::after {
		box-sizing: border-box;
	}
}

body {
	background-color: $bg-white;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}